* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
font-family: Arial, sans-serif;
/* background-color: #C8D166;*/
background-color: #366F23;
color: #333;     /*
background:linear-gradient(rgba(0,0,0,0.5),#61942F),url("../Images/IMG-20241016-WA0025.jpg") no-repeat center center/cover; */
}


header {
background:linear-gradient(rgba(0,0,0,0.5),#61942F),url("") no-repeat center center/cover;
padding: 2px 0;
text-align: center; 
display: flex;
justify-content: space-between;
height: 200px; 
}

.section-01 {
display: flex;
justify-content: space-between;
width: 100%;

}

.logo {
display: flex;
/* flex: 1; */
/* background-color: pink; */
}

.logo-img {
display: flex;
flex-direction:column ;
padding: 4px;
margin-left: 4px;
}

.logo-img img {
height: 127px;
width: 127px;
border-radius: 62px;
border: none;
/*background-color: #8D8C92;*/
/* opacity: 0.4;*/
}


.logo h1 {
/* margin: 0; */
font-size: 29px;
color: seashell;
color:#DAA520;
align-self: center;
margin-left: 40px;
text-align: left;
width: auto;
flex: 1; 
}




.nav-row ul {
list-style-type: none;
display: flex;
justify-content: center;
margin: 10px 0;
}

.nav-row ul li {
margin: 0 10px;
}

.nav-row ul li a {
text-decoration: none;
color: #CEC7BA;
font-weight: bold;
}


/* ****  Nav - Col **** */

#menuButton, #closeButton {     
cursor: pointer;
font-size: 18px;
color:white ;
font-weight: bold;  

}

#navMenu {
position: fixed;
top: 0;
right: 0;
bottom: 0;
width: 400px; /* Adjust the width as needed */
background-color: #61942F;
display: flex;
flex-direction: column;
justify-content: space-between;
transition: transform 0.3s ease-in-out;
transform: translateX(100%); /* Start off hidden to the right */
}

nav ul {
align-items: center;
justify-content: center;
}

nav ul li {
list-style: none;
margin: 100px;
}

nav ul li a {
text-decoration: none;
color: whitesmoke;
font-size: 1.2rem;
font-weight: bold;
}

.hidden {
display: none;
}

#navMenu.visible {
transform: translateX(0); /* Slide in from the right */
}

#closeButton, #menuButton {
position: absolute;
top: 60px;
right: 20px;
color: white; 
}

.fa-bars, .fa-xmark {
font-size: 30px;
}

.hero {
background-color: #fff;
text-align: center;
padding: 50px 20px;
height: 100vh;
align-content: center;      
background:linear-gradient(rgba(0,0,0,0.5),#61942F),url("../Images/IMG-20241016-WA0025.jpg") no-repeat center center/cover;
} 

.hero p {
margin-bottom: 30px;
color: white;
font-weight: bold;
}

.hero h2 {
font-size: 40px;
color: #ffcc00;
margin-bottom: 20px;
}

.hero button {
padding: 10px 20px;
background-color: #ffcc00;
border: none;
color: #fff;
cursor: pointer;
border-radius: 5px;
}

.hero button a {
text-decoration: none;
color: white;
font-weight: bold;
}

/* **** Section What-we-do **** */

/* What We Do Section */
.what-we-do {
background-color: #fff;
padding: 60px 20px;
text-align: center;
}

.what-we-do h2 {
font-size: 32px;
color: #ffcc00;
color:#DAA520;
margin-bottom: 20px;
}

.what-we-do p {
font-size: 18px;
color: #666;
max-width: 800px;
margin: 0 auto 40px;
}

.services {
display: flex;
flex-wrap: wrap;
width: 100%;
padding: 1.1rem;
justify-content: center;
align-items: center;
gap: 40px;
}

.services .call-to-action {
border-radius: 8px;
background-color: #f9f9f9;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
margin-bottom: 1rem;
width: 100%;
}

.services .call-to-action h2 {
color: #ffcc00;
}

.services .call-to-action button {
background-color: #ffcc00;
color: #fff;

}

.service-item {
flex-basis: 45%;
/* flex-basis: 80%; */
/* height: 800px; */
background-color: #f9f9f9;
padding: 20px 20px 35px;
border-radius: 8px;
margin: 12px;
text-align: center;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
transition: transform 0.2s;
}

.service-item:hover {
transform: scale(1.05);
}

.service-item h3 {
color: #ffcc00;
color:#DAA520;
margin-bottom: 15px;
}

.service-item p {
color: #666;
}

.item-img {
    /* height: 600px; */
    width: 100%;
    margin-bottom: 30px;
}

.service-item img {
    border-radius: 10px;
    width: 90%;
    /* object-fit: cover cover;
    object-position: center; */
   /* max-height: 100%; */
    /* height: 600px;  */   
    /* max-width: 100%; */
    
}

.services .service-item img:nth-child(3) {
    margin-bottom: 30px;
}

.services .service-item:nth-child(4) {
    padding: 20px 20px 20px;
}

.services .service-item:nth-child(4) .item-img-01 {
     /* height: 600px; */ 
}
 
.services .service-item:nth-child(6) {
    flex-basis: 90%;
}

.services .service-item:nth-child(6) img {
    margin-bottom: 20px;
    width: 100%;
}


.service-item .book-a-session {
padding: 15px 30px;
background-color: #ffcc00;
background-color:#DAA520 ;
color: #fff;
border: none;
font-size: 18px;
font-weight: bold;
cursor: pointer;
border-radius: 5px;
text-decoration: none;
transition: background-color 0.3s;
}

.book-a-session:hover {
background-color: #ffe680;
}


/* Call to Action Section */

.call-to-action {
background-color: #DAA520;
color: #fff;
padding: 60px 20px;
text-align: center;
}

.call-to-action h2 {
font-size: 36px;
margin-bottom: 20px;
}

.call-to-action p {
font-size: 18px;
max-width: 800px;
margin: 0 auto 30px;
}

.call-to-action button {
padding: 15px 30px;
background-color: #fff;
color: #DAA520;
border: none;
font-size: 18px;
font-weight: bold;
cursor: pointer;
border-radius: 5px;
transition: background-color 0.3s;
}

.call-to-action button:hover {
background-color: #ffe680;
}

.services h2 {
font-size: 1.5rem;
}

.services p {
font-size: 18px;
}

.product-list {
/* display: flex; */
justify-content: space-around;
padding: 20px;
background-color: #fff;
}

.product-item {
text-align: center;
background-color: #f9f9f9;
padding: 20px;
margin: 5px;
border-radius: 8px;
}

.product-item img {
width: 200px;
height: auto;
}

        /* ===== Contact Page ==== */
        
 .body-contact    

.contact-form {
padding: 20px;
background-color: #fff;
 text-align: center;
 height: 100vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 10px;
margin: 20px;

}


.contact-form form {
/*display: inline-block;*/
text-align: left;
margin-top: 60px;
margin-bottom: 60px;
width: 70%; 
}

.contact-form label {
display: block;
margin-bottom: 5px;
}

.contact-form input, .contact-form textarea {
width: 100%;
padding: 10px;
margin-bottom: 15px;
border: 1px solid #ccc;
border-radius: 5px;
}

.contact-form button {
padding: 10px 20px;
background-color: #ffcc00;
border: none;
color: #fff;
cursor: pointer;
}


/* **** Products Page **** */

/* Product Page Specific Styles */
.product-list {
padding: 40px 20px;
background-color: #f9f9f9;
text-align: center;
}

.product-list h2 {
font-size: 32px;
color: #ffcc00;
margin-bottom: 40px;
}

.product-grid {
display: flex;
flex-wrap: wrap;
justify-content: space-around;
gap: 17px;
}

.product-item {
background-color: #fff;
border: 1px solid #ddd;
border-radius: 8px;
padding: 20px;
width: 42%;
/* overflow: auto; */
text-align: center;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
transition: transform 0.3s, box-shadow 0.3s;
}

.product-item:hover {
transform: scale(1.05);
box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.product-item img {
max-width: 100%;
height: 500px;
width: 90%;
border-radius: 4px;
margin-bottom: 15px;
}

.product-item h3 {
color: #ffcc00;
font-size: 22px;
margin-bottom: 10px;
}

.product-item p {
font-size: 16px;
color: #666;
margin-bottom: 10px;
}

.product-item .price {
font-size: 20px;
color: #333;
margin-bottom: 15px;
}

.product-item button {
padding: 10px 20px;
background-color: #ffcc00;
border: none;
color: white;
font-size: 16px;
cursor: pointer;
border-radius: 4px;
transition: background-color 0.3s;
}

.product-item button:hover {
background-color: #e6b800;
}

/* Responsive Styles */

@media (max-width: 768px) {
.product-grid {
flex-direction: column;
align-items: center;
}

.product-item {
width: 95%;
}
}

/* ****Click to Call*** */

.button-container { 
display: flex; 
flex-wrap: wrap;
justify-content: center; 
gap: 0.5rem; 
text-align: center;
padding: 0.5rem;
}

.button-container a {
margin: 8px;
}

i {
font-size: 27px;
}

.fa-whatsapp {
color: #25d366;
}

.whatsapp-button:hover {
color: #20b357;
}

.fa-phone {
color:#007bff;
}

.call-button {
color: #007bff; 
}

.fa-envelope {
color: #ff5722;
}

.mail-button { 
color: #ff5722; 
}

.fa-facebook { 
color: #3b5998; 
}

.fa-linkedin { 
color: #0077b5; 
}

.fa-instagram {
color: #e4405f; 
}

.fa-youtube {
color: #ff0000; 
}

.fa-twitter {
color: #1da1f2; 
}


footer {
text-align: center;
padding: 20px;
background-color: #425B5A;
color: #fff;
}


/* **** RESPONSIVE STYLES  ***** */




@media(max-width: 1200px){

.logo-img {
margin: 0 1rem;
}

.img-text {
width: 124px;
color: white;
font-weight: bold;
margin-top: 1rem;
}

.nav-row {
align-self: center;
}

.nav-row ul li a {
font-size: 1rem;
}
}

@media(min-width: 768.1px){

.logo h1 {
flex: 1;
font-size: 3.1rem;
margin:auto;
margin-left: 20px;
text-align: center;
/* justify-content: center; */
} 

.nav-col {
display: none;
}

.hero h2 {
    font-size: 5rem;
}

.hero p {
    font-size: 2rem;
}

.hero button a {
    font-size: 1.8rem;
}

}

@media screen and (min-width: 1200.1px){

.logo {
    flex: 1;
    }

.logo h1 {
font-size: 4.2rem; 
text-align: center;
}

.logo-img {
margin: 1rem;
}

.img-text {
width: 124px;
color: white;
font-weight: bold;
margin-top: 1rem;
}

.nav-row {
align-self: center;  
}

.nav-row ul li a {
 font-size: 2rem; 
}

}

@media(max-width: 768px){

.logo {
width: auto;
max-width: 100%;   
}

.logo h1 {
flex: 1;
font-size: 3rem;
margin-left:20px ;
text-align: left;
width: auto;
/* margin-right: 39px; */
} 

.logo .img-text {
color: white;
font-size: 15px;
font-weight: bold;
width: 123px;
text-align: center;
margin-top: 10px;
}

.logo-img {
margin-left: 2rem;
}

.nav-row {
display: none;
}

#closeButton, #menuButton {
    top: 90px;
}



.services {
flex-direction: column;
width: 100%;
}

.service-item {
width: 100%;
margin-left: -2px;
}

}

@media(max-width: 480px){

.logo {
 align-items: center;
 margin-right: auto;
 padding-right:19px;
 width: 100%;
 flex: 0;
}

.logo h1 {
font-size: 2.5rem;
height: auto;
width: 200px;
text-align: left;
align-content: center;
margin-left: 1.5rem;
margin-top: 10px;
}

.logo-img img {
height: 120px;
width: 120px;
}

.logo-img {
margin-left: 0.5rem;
margin-right: 3px;
}

.logo .img-text {
color: white;
font-size: 14px;
font-weight: bold;
width: 123px;
text-align: center;
margin-top: 10px;
}

#closeButton, #menuButton {
    top: 80px;
}


.services {
flex-direction: column;
width: 100%;
}

.service-item {
width: 100%;
}

}

@media screen and (min-width: 320px) and (max-width: 400px){
.logo h1 {
font-size: 1.9rem;
} 
}

@media screen and (max-width: 320px){

.logo {
width: 100%;
}

.logo-img {
margin-left: 0.5rem;
margin-right: 2px;
}

.logo h1 {
font-size: 1.98rem;
text-align: left;
width: 130px;
height: auto;
line-height: 40px;
margin-left: 0px;
margin-right: 5px;
align-content: center;
}

#closeButton, #menuButton {
    top: 100px;
}

}
